<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('deleteEvent') %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><%= __('deleteEvent') %></h1>
<div class="form-container">
    <p><%= __('deleteConfirmation', { eventName: eventData.name }) %></p>
    <form action="/delete/<%= eventData.id %>" method="POST">
        <button type="submit" class="button delete"><%= __('delete') %></button>
        <a href="/" class="button"><%= __('cancel') %></a>
    </form>
</div>
</body>
</html>
